/****************************************
palette
****************************************/
$PrimaryColor: #BE9359;
$White: #fff;
$Black: #000;
$LightGrey: #F5F5F5;
$DarkGrey: #B0B0B0;
$DarkerGrey: #686868;
$BgFooterDarker: #0F0F0F;
$BgFooterDark: #171717;

