@use './partials/variables' as *;

@import 'bootstrap/scss/bootstrap';

$fa-font-path: '../webfonts';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

// font Lato
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
  font-family: abrilfatface;
  src: url(/public/font/AbrilFatface-Regular.ttf);
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

.btn_primary {
  border: solid 2px $PrimaryColor;
  color: $PrimaryColor;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1rem 2rem;
  line-height: 1;
  font-size: 1.1rem;
  text-decoration: none;

  &:hover {
    filter: brightness(80%);
  }
}